* {
    box-sizing: border-box;
}
body {
    margin: 50px;
    font-size: 17px;
}
p {
    color: rgb(69, 34, 221);
    font-size: 30px;
    font-weight: bold; /*muda a força do texto (negrto, italico, sublinhado etc)*/
    font-family: "Helvetica"; /*muda a fonte do texto*/
    text-align: justify; /*muda o alinhamento do texto*/
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}